@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  html {
  scroll-behavior: smooth;
}
  .container {
    max-width: 1360px;
	  margin: 0 auto;
  }
.flex{display: flex}
  body {
    /* overflow-y: hidden;
    overflow-x: hidden; */
  }

  /* .slide-1 {
      padding: 0 13rem;
  } */
video {
    max-width: 100%;
	
    border-radius: 10px;
}
.relative{position: relative}
  .header { 
	  background: #fff;
	  position: relative
  }
  .header-logo { 
	  padding: 20px !important;
  }

 .header-which-banner {
    position: absolute;
    right: 0;
	top: 0;
	z-index: 9999999;
} 
.banner-wrapper {
    background: #FFFAFA;
    padding: 2rem 0;
    position: relative;
    z-index: 1;
}

  .bg-fluid-1 {
    position: absolute;
    z-index: -10;
    right: 0;
    bottom: 10px;
  }

  .bg-fluid-2 {
    position: absolute;
    z-index: -10;
    left: 0;
    top: 10px;
  }

  .banner-heading {
      padding-top: 20px;
      text-align: center;
  }

   h1 {
      color: #3E1793;
      font-size: 42px;
      font-weight: 800;
  }

  .banner-heading p {
    font-size: 24px;
    letter-spacing: 3px;
    padding: 0.75rem 0;
}
.banner-image {
    padding: 2rem;
}
.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
	
    padding: 2rem;
}
.red-color {
  color: #E34E34;
}

.first-div {
    display: grid;
    padding: 2rem;
    align-items: flex-start;
    grid-template-columns: 5fr 6fr;
}

.video-part{
  position: relative;
}
.video-part > img:first-of-type {
    position: absolute;
    left: -30px;
    bottom: -50px;
}
.video-part > img + img {
    position: absolute;
right: -30px;
    bottom: -50px;
} 
.b-list1, .b-list2, .b-list3, .b-list4 {
  display: flex;
  margin-bottom: 35px;
  margin-right: 30px;
  /* width: 70%; */
	    align-items: flex-start;
}

 

.bold-text {
  color: black;
  font-weight: 800 !important;
}

.banner-wrapper .icon {
    background-color: #F5F0FF;
    padding: 1.25rem;
    margin-right: 20px;
    height: 100%;
    display: flex;
    border-radius: 5px;
}

button, .red-big-button { 
    padding: 25px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #E34E34 0%, #F5117B 100%);
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 24px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	
    display: inline-block;

}

button:hover {
  cursor: pointer;
}

.clients {
  background: #F5F5F5; 
}

.client-1 {
    text-align: center;
    padding: 2rem;
    mix-blend-mode: multiply;
}
.client-1 img {
    max-width: 100%;
}
/* BANNER */
.banner { 
	padding: 4rem;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #6A1793 0%, #2F076B 100%);
	
}

.banner > h1 {
    margin-bottom:10px;
	color: #fff;
	max-width: 980px;
	margin: 0 auto
}

.banner > p {
  margin: 30px auto 20px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}
.benefits-list p {
    font-size: 16px;
    line-height: 28px;
}
/* HELP SECTION */
.help-section {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
	gap: 30px;
}

.text-div {}
 

.text-div > h1 {
  font-weight: 800;
  color: #3E1793;
}

.text-div > p {
    margin: 30px 0;
    line-height: 38px;
    font-weight: 300;
    width: 100%;
    font-size: 22px;
}

.text-div > button, .banner > button {
  margin-left: 0;
}

.icons-div {
  
    position: relative;
    text-align: center;
	background: url(../svg/abstract-circle-1.svg) no-repeat bottom center;
	background-size: contain	
}
 

/* FORM SECTION */
.form-section {
  background: #FFF2FC;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.img-div { 
}

.img-div > h1 {
  color: #3E1793;
  margin-bottom: 30px;
}

.img-div > img { 
  border-radius: 10px;
	
    max-width: 100%;
}

.form-div { 
  padding: 30px 20px;
  background: white;
  border: none;
  border-radius: 10px;
	margin: 20px;
    max-width: 500px;
}

form > h3 {
  text-transform: uppercase;
}

form > h3:first-of-type {
  color: #3E1793;
  font-weight: 900;
  font-size: 22px;
}

form > h3 + h3 {
  font-weight: 300;
  font-size: 18px;
  color: #3E1793;
}

.fields {
  margin-top: 25px;
}

.field-names {
  position: relative;
}

.field-names > label {
text-transform: uppercase;
    color: #3E1793;
    position: absolute;
    top: -8px;
    background: white;
    padding: 0 5px;
    left: 5%;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
}

.field-select > label {
  text-transform: uppercase;
  font-size: 14px;
  color: #3E1793;
  font-weight: 800;
	display: block;
	margin-top: 1rem;
	margin-bottom: 10px
}

.field-names > input, .fields > input, select  {
    width: 100%;
    border: 2px solid #3E1793;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 3rem;
}

#phone {
  margin-bottom: 16px !important;
}


.submit-button {
  background: #E34E34;
  border: none !important;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 22px !important;
	margin-bottom: 10px !important;
}
p.form-disclaimer{
    line-height: 22px;
    color: #C5C5C5;
    font-size: 13px;
} 

/* WORKING PROCESS */
.working-process {
  text-align: center; 
	    padding: 4rem 0;
}

.working-process > h1 {
  color: #3E1793;
  font-weight: 1000;
  font-size: 35px;
}

.working-process > p {
  margin: 30px 0;
}

.process-icons {
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.process-icon-1, .process-icon-2, .process-icon-3, .process-icon-4 {
  background: #FFF8F8;
  padding: 30px 20px 20px 20px;
  margin: 0 10px;
  position: relative;
}

.circle {
  background: #3E1793;
  border-radius: 50%;
  width: 45px;
  margin: 0 40%;
  position: absolute;
  top: 4%;
}

.circle > p {
  font-size: 20px;
  font-weight: 800;
  color: white;
  padding: 10px;
	
}

.process-icon-1 > img, .process-icon-2 > img, .process-icon-3 > img, .process-icon-4 > img {
  position: absolute;
  left: 30%;
  bottom: 50%;
}

.process-icon-3 > img, .process-icon-4 > img {
  bottom: 55% !important;
}

.process-icon-1 > p, .process-icon-2 > p, .process-icon-3 > p, .process-icon-4 > p {
  line-height: 24px;
  color: #222222;
  margin-top: 20px;
}

/* COMMENTS */
.comments {
  padding:2rem;
  background: #FFF5F5;
}
.comments.row a {
    margin: 0 auto;
    display: block;
    max-width: 640px;
}
.comments > h1, .comments > p {
  text-align: center;
  color: #3E1793;
}

.comments > p {
  text-transform: uppercase;
  margin-top: 20px;
}

.comments > h1 {
  font-weight: 900;
  font-size: 42px;
}

.comments-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 4rem;
}

.comments-box-1, .comments-box-2 {
  display: flex;
  margin-bottom: 50px;
  position: relative;
}

.box-1, .box-2, .box-3, .box-4 {
background: white; 
    color: #3E1793;
    width: 100%;
    position: relative;
    padding: 2rem;
    border-radius: 10px;
}

.text-box {
  margin: auto !important;
  padding: 30px 0;
}

.text-box-2 {
  padding: 40px 0;
}

.box-1 > p + p, .box-3 > p + p, .text-box > p + p, .text-box-2 > p + p {
  margin-top: 8px;
  margin-bottom: 3px;
  font-weight: 600;
}

.purple-border {
  position: absolute;
  width: 100%;
}

.purple-box {
position: relative;
    padding: 20px;
}
.purple-box p {
    font-size: 16px;
    line-height: 28px;
}

.purple-box > svg {
    position: absolute;
    top: 0px;
    right: -20px;
}

.purple-box > img {
position: absolute;
    z-index: 5;
    right: -10px;
    top: 15px;
}


/* .svg-4 {
  position: absolute;
  right: 1%;
  bottom: 10%;
} */

 

.comments > button {
    background: #E34E34;
    display: block;
    margin: 0 auto;
}

/* CONTACT */

.call-banner { 
  background: linear-gradient(to right, #3E1793 0%, #460C4A 100%); 
}

.call-banner .container {
  display: flex; 
}

.call-text {
  width: 100%;
  padding: 6rem 8rem;
  text-align: center;
}

.call-text > p {
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 900;
}

.call-text > button {
  background: #E34E34;
  font-size: 25px;
  padding: 20px 40px;
  margin-left: 0;
}

.footer-text {
  padding: 20px 13rem 0 13rem;
}

.footer-text > p {
  margin-bottom: 5px;
  line-height: 22px;
  color: #222222;
  font-size: 14px;
}

.footer-links {
  display: flex;
  padding: 0 13rem 20px 13rem;
  color: #222222;
}

.links {
  margin-left: auto;
}

.links > a {
  color: #222222;
}
.form-div select{
		background: #fff;
}
@media screen and (max-width:1280px) {
	.process-icons {
    
    grid-template-columns: repeat(2, 1fr); 
}
.comments-boxes { 
    grid-template-columns: repeat(1, 1fr);
    gap: 40px; 
	padding: 0 0 20px 0
}	
button, .red-big-button, .call-text > button {
  padding: 18px 10px;
font-size: 18px;
letter-spacing: 0;
}
}
@media screen and (max-width:960px) {
	.process-icons {
    
    grid-template-columns: repeat(1, 1fr); 
}
	.first-div {
   grid-template-columns: 1fr;
    padding: 1rem;
    padding-top: 0;
}
	.banner {
    padding: 1rem; 
}
	.banner-image {
    padding: 0;
}
	.help-section { 
    grid-template-columns:   1fr; 
}
	.text-div {
    order: 2;
}
	.icons-div {
    order: 1;
}
	.form-section .container {
    flex-direction: column;
}
	.comments {
    padding: 1rem; 
}
	.purple-box { 
    padding: 0;
}
	.b-list1, .b-list2, .b-list3, .b-list4 {
    flex-direction: column;
    margin: 20px auto;
}
	.banner-text { 
    padding: 50px 0;
}
	.call-banner .container {
    flex-direction: column;
}
	.call-text {
    padding: 2rem 1rem;
}
	.footer-text {
    padding: 20px 10px;
}
	.footer-links {
    display: flex;
    padding: 10px;
    color: #222222;
    flex-direction: column;
}
	.links {
    margin: 5px 0;
}
	.comments > h1, h1 { 
    font-size: 22px;
line-height: 32px;
}
	button, .red-big-button, .call-text > button {
    padding: 18px 10px;
font-size: 14px;
letter-spacing: 0;
}
	.form-section {
    padding: 0.5rem;
}
	.form-div { 
    margin: 20px auto; 
}
	.working-process {
    text-align: center;
    padding: 2rem 1rem;
}
	.banner-heading p {
    font-size: 15px; 
}
	.benefits-list {
    order: 2;
}
.banner-wrapper, .header {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}
	.header-which-banner img {
    max-width: 50px;
}
	.banner-heading {
    padding-top: 1rem 0.1rem;
    text-align: center;
}
p {
  font-size: 16px !important;
  line-height: 28px !important;
  font-weight: normal !important;
  padding: 1rem 0;
}
#main-form .container {
  padding: 5px;
}
.purple-box > svg{
  display:none;
}
.footer-text > p, p.form-disclaimer {
 
  line-height: 22px !important;
 
  font-size: 14px !important;
}
}
